
@{
    Layout = null;
    ViewBag.SystemName = System.Web.Configuration.WebConfigurationManager.AppSettings["SystemName"].ToString();
    ViewBag.Version = System.Web.Configuration.WebConfigurationManager.AppSettings["Version"].ToString();
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.SystemName | 404 Error Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    @Styles.Render("~/assets/plugins/jquery-ui/jquery-ui.min.css")
    @Styles.Render("~/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css")
    @Styles.Render("~/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css")
    @Styles.Render("~/assets/plugins/animate/animate.min.css")
    @Styles.Render("~/assets/css/material/style.min.css")
    @Styles.Render("~/assets/css/material/style-responsive.min.css")
    @Styles.Render("~/assets/css/material/theme/default.css")
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @Scripts.Render("~/assets/plugins/pace/pace.min.js")
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show">
        <div class="material-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
            <div class="message">Loading...</div>
        </div>
    </div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin error -->
        <div class="error">
            <div class="error-code m-b-10">404</div>
            <div class="error-content">
                <div class="error-message">We couldn't find it...</div>
                <div class="error-desc m-b-30">
                    The page you're looking for doesn't exist. <br />
                    Perhaps, there pages will help find what you're looking for.
                </div>
                <div>                   
                    <a href="@Url.Action("Index", "Home")" class="btn btn-success p-l-20 p-r-20">Go Home</a>
                </div>
            </div>
        </div>
        <!-- end error -->
      
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="material-icons">keyboard_arrow_up</i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    @Scripts.Render("~/assets/plugins/jquery/jquery-3.2.1.min.js")
    @Scripts.Render("~/assets/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js")
    <!--[if lt IE 9]>
        <script src="../assets/crossbrowserjs/html5shiv.js"></script>
        <script src="../assets/crossbrowserjs/respond.min.js"></script>
        <script src="../assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/assets/plugins/slimscroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/assets/plugins/js-cookie/js.cookie.js")
    @Scripts.Render("~/assets/js/theme/material.min.js")
    @Scripts.Render("~/assets/js/apps.min.js")
    <!-- ================== END BASE JS ================== -->

    <script>$(document).ready(function() {
			App.init();
		});</script>
</body>
</html>
